@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px ;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display:inline-block;
}
ul{
   list-style: none;
  
}

/*  --------------------- utility classes  */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
.hover-link{
   color: var(--primary-text-color);
   transition: 0.2s ease-in-out;
}
.hover-link:hover{
    color: var(--accent-color);
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 5px;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 0 1px black;
}
.primary-button:hover{
    color: white;
    background-color: #1d69a3;
}
.secondary-button{
    background-color: white;
    color: var(--accent-color);
    border-radius: 5px;
    /* border: 2px solid black; */
    font-weight: 700;
    padding: 10px 20px ;
    box-shadow: 0 0 2px;
}
.secondary-button:hover{
    background-color: wheat;
}

/* -------------------- top banner */
.top-banner{
    background-color: #2294ed;
    background-image: url(./assets/asset\ 18.png);
    background-size: 300px;
    background-repeat: repeat;
    box-shadow: 2px 2px 10px ;
   
}
.banner-text{
    text-align: center;
    color: rgb(255, 255, 255);
    /* padding:5px 10px ; */
}

/*  ---------------------- nav */
.main-nav {
    justify-content: space-between;
}
.company-logo img{
   width: 200px;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 30px;
}

/* --------------- header  section */
.header{
    padding: 50px var(--padding-inline-section) 0 ;
}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}
.header-right img{
   width: 500px;
}
.get-started-btn{
    margin-top: 20px;
}

/* companies logos */
.companies-header{
    text-align: center;
    margin-block: 10px;
}
.logo{
    height: 35px;
   
}
.logos{
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}
/* features header */
.features-header{
    text-align: center;
}
.get-started-btn{
   margin-top: 20px;
}
.see-btn{
    margin-top: 20px;
}

/* features section */
.features-section{
    padding: 80px var(--padding-inline-section);
    background-image: url(./assets/asset\ 19.svg);
    background-repeat: no-repeat;
    background-position: center;
}
/* h2{
    /* text-align: center; */
/* } */
/* p{ */
    /* text-align: center; */
    /* margin: 10px; */
/* } */ 
.featurs-area{
    margin-top: 20px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.featurs-card{
   gap: 20px;
   flex-direction: column;
   max-width: 30%;
}
.featurs-card img{
   margin-top: 10px;
}
.featurs-card h2{
    margin: 5px;
}
.featurs-card h2:hover{
    color: var(--accent-color);
    transition: 0.2s ;
}
.icon-btn{
    margin-left: 10px;
}

/* big-features-section */
.big-feature-section{
    padding: 20px 10px;
}
.big-features-img img{
    width: 80%;
     
}
.big-feature-container{
    gap: 20px;
}
.features-desc{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

/* example section */
.examples-header{
    text-align: center;
}
.examples-area{
    margin-top: 50px;
    justify-content: space-between;
    /* flex-direction: row; */
  
 
}
.examples-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(./assets/asset\ 20.jpg);
  
   
}
.card-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
}


/* ------------------ cta-section --------- */

.cta-section-container{
    flex-direction: column;
}
.cta-section{
    background: var(--primary-text-color);
    color: white;
    height: 50vh;
}
.cta-section-container h2{
    margin-top: 60px;
}
.cta-section-container p{
    margin-top: 20px;
    color: white;
}
.cta-section-container a {
    width: 70%;
    text-align: center;
    margin-top: 30px;
   
 }


